.Sec-Home {
  padding: 60px 20px;
  /*background-color: #e6d7ff;*/
  width: 100%;
  box-sizing: border-box;
  margin-top: 100px;
}

.General-Div-Home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  gap: 40px;
  width: 100%;
  box-sizing: border-box;
}

.Div-Home-txt,
.Div-Home-IMG {
  width: 50%;
}

.Div-Home-txt h2 {
  font-size: 50px;
  color: crimson;
}

.Div-Home-txt p {
  line-height: 1.5;
}

.Div-Home-IMG {
  background-color: #e6e6e6;
  border-radius: 10%;
}

.Div-Home-IMG img {
  border-radius: 10%;
  width: 90%;
}

.Sec-Home-Preview {
  padding: 60px 20px;
  /*background-color: #e6d7ff;*/
  width: 100%;
  box-sizing: border-box;
}

.General-Div-Preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
}

.Div-Preview-txt h2 {
  color: crimson;
}

.Div-Home-txt h3 {
  padding-left: 290px;
  margin-top: -80px;
}

.Div-Preview-txt p {
  line-height: 1.5;
}

.Div-btn {
  border-radius: 10%;
}

.login-btn a {
  text-decoration: none;
  color: aliceblue;
}

.login-btn {
  background-color: #a7c7e7;
  width: 200px;
  height: 70px;
  font-size: 20px;
  margin-left: 65%;
  border-radius: 10px;
  border: none;
  outline: none;
}

.login-btn:hover {
  background-color: #488edf;
  border-color: #488edf;
}

.Sec-Footer {
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}

.Div-Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
}

.Copyrigth {
  width: 25%;
}

.Policy {
  width: 25%;
}

.Terms {
  width: 25%;
}

.Copyrigth h6 {
  line-height: 0;
}

.Contact {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

footer {
  background-color: #a7c7e7;
  align-items: center;
  border-radius: 10px;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  color: #488edf;
}

footer h6 {
  color: #ffffff;
}

.Contant-Container {
  width: 100%;
}

.Div-Contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
}

.Contact-Logo {
  width: 20%;
  margin-top: 20px;
}

.Contact-txt {
  margin-left: 10px;
  margin-bottom: 22px;
  width: 80%;
}

.Email {
  font-size: 14px;
}

.Contact-txt h6 {
  font-size: 14px;
  margin-bottom: -10px;
}

.Download-Section {
  padding: 60px 20px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 110px;
}

.General-Div-Download {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  gap: 40px;
  width: 100%;
  box-sizing: border-box;
}

.Div-App,
.Div-Download,
.Div-Download-btn {
  width: 33.33%;
}

.Div-Download {
  justify-content: center;
  align-items: center;
}

.Android button img,
.AppStore img,
.PlayStore img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.iOS-iPadOS img {
  margin-right: 10px;
}

.App a img {
  height: 500px;
  width: 500px;
}

.Div-Download-Logo a img {
  height: 200px;
  width: 200px;
}

.iPhone-Logo img {
  margin-bottom: 20px;
}

.Download-Section a {
  text-decoration: none;
}

.Download-Section button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 350px;
  height: 100px;
}

.Download-Section button:hover {
  cursor: pointer;
}

.Download-Section button a {
  justify-content: center;
  align-items: center;
  margin-top: 50%;
}

.AppStore {
  background-color: #488edf;
}

.AppStore a,
.PlayStore a {
  color: white;
  margin: 0;
  position: relative;
  margin-bottom: 50%;
}

.PlayStore {
  background-color: yellowgreen;
}

.iOS-iPadOS a,
.Android-Device a {
  color: black;
  margin: 0;
  position: relative;
  margin-bottom: 50%;
}

.Div-Download-Logo {
  background: #e6e6e6;
  border-radius: 10%;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

.Cellphone {
  margin-left: -212px;
  margin-top: -400px;
}

.App {
  margin-top: -900px;
  height: 500px;
}

.Sec-Login {
  padding: 7vh 20px;
  /*background-color: #e6d7ff;*/
  width: 100%;
  box-sizing: border-box;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Div-Login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  box-sizing: border-box;
}

.recovery,
.register,
.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  gap: 5px;
}

.Title-txt {
  background-color: #a7c7e7;
  color: #ffffff;
  border-radius: 10px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.Div-Login input {
  width: 100%;
  height: 40px;
  border-radius: 50px;
  background-color: #a9ecf8;
  border: none;
  outline: none;
}

.Div-Login input::placeholder {
  text-align: center;
}

.Login-Btn {
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50px;
  font-size: 30px;
  margin-left: 25%;
  background-color: #a7c7e7;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-bottom: 30px;
}

.Login-Btn:hover,
.Register-Btn:hover,
.Recovery-Btn:hover,
.Cancel-Btn:hover {
  background-color: #488edf;
}

.Div-Login button:hover {
  cursor: pointer;
}

.register {
  width: 90%;
}

.Register-Btn {
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 50px;
  font-size: 20px;
  margin-left: 15%;
  background-color: #a7c7e7;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-bottom: 30px;
}

.Recovery-Btn {
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 50px;
  font-size: 30px;
  margin-left: 15%;
  background-color: #a7c7e7;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-bottom: 30px;
}

.Cancel-Btn {
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 50px;
  font-size: 30px;
  margin-left: 15%;
  background-color: #78bcff;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-bottom: 30px;
}

.Cancel-Btn a {
  text-decoration: none;
  color: #000000;
}
